*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
    min-height: 100vh;
}

.textCenter
 {
  text-align: center;
 }

 .textJustify
 {
  text-align: justify;
 }

.justifyContent {
  display: flex; 
  justify-content: center
}

.styleSection {
  height: 100%;
  flex-direction: column;
  position: relative;
}

.row {
  --bs-gutter-x: 0rem;
}

.imgAgromas {
  width: 47%;
}

/* SECCION MENU*/
.imgicon{
  width: 65px;
  height: 65px;
}

.nav-link {
    font-size: 18px;
    font-weight: 555;
    letter-spacing: 0.2rem;
    cursor: pointer;
    color:#666666
}

.nav-link:hover,
.nav-link.active {
    color:#789904 !important;
}

.bg-body-tertiary {
  background-color: #FFFFFF;
  font-size: 14px;
  height: 78px;
  font-size: 1rem;
  color:white;

}

.banner-header{
  background-color: #f1f2f2;
}


@media screen and (max-width: 1380px) {
  .nav-link {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
}

/* FIN SECCION MENU*/

/* SECCION COMO PARTICIPAR*/

#comoParticipar {
  background-color: #F1F2F2;
  background-image: url('../images/bgParticipar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imgtext01 {
  width: 100%;
}

.imgtext02 {
  width: 100%;
  height: 100%;
}

.imgCard {
  width: 67%;
}

.curved-title {
    font-size: 2rem;
    font-weight: bold;
    color: #7cab31;
    text-shadow: 2px 2px #fff, 4px 4px #f2c300;
    /*transform: rotate(-1deg); */
  }
  
  .top-title {
    margin-top: -30px;
  }
  
  .ribbon-banner {
    background: linear-gradient(to right, #91b44d, #7cab31);
    padding: 2rem 1rem;
    border-radius: 0 0 50% 50% / 10%;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    color: #fff;
    max-width: 600px;
  }
  
  .banner-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffe21f;
    text-shadow: 2px 2px #b62500;
  }
  
  .banner-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: -0.5rem;
    text-shadow: 1px 1px #333;
  }

  .steps-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #7cab31;
    text-shadow: 2px 2px #fff, 3px 3px #f2c300;
  }

  #comoParticipar .ticketUrna{
    width: 200px;
    height: 115px;
  }

  #comoParticipar .phone{
    width: 90px;
    height: 115px;
  }


.container-card-parent {
    width: 365px;
    min-height: 180px;
    border: 3px solid #779A3E;
    box-shadow: 0 0 6px rgb(0, 0, 0.1);
    border-top-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.container-card-child{
    min-height: 180px;
    border: 2px solid #FFFFFF;
    background-color: #FFC325;
    color: #000000;
    padding: 10px 10px;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.container-card-child p {
  font-size: 0.9rem;
}

.btn-privacy {
  background-color: #FFFFFF;
  box-shadow: 0 0 6px rgb(0, 0, 0.1);
  color: #fff;
  border-radius: 2rem;
  padding: 2px;
  font-size: 0.8rem;
  display: inline-block;
  border: 0px;
}

.btn-privacy-up {
  background-color: #72A13F;
  color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  font-weight: 600;
  display: inline-block;
}

.footerComoParticipar-sorteos {
  font-size: 1.1rem; 
  color: #779A3E; 
  margin-top: 0.8rem;
  font-weight: 800;
}

.footerComoParticipar-vigencia {
  font-size: 0.9rem; 
  color: #779A3E; 
  margin-top: 0.5rem;
  font-weight: 800;
}


@media screen and (max-width: 991px) {
  .imgCard {
    width: 40%;
  }

}
@media screen and (max-width: 767px) {

  .imgtext01 {
    width: 86%;
  }

  .imgtext02 {
    width: 60%;
  }

  .imgCard {
    width: 52%;
  }

  .footerComoParticipar-sorteos {
    font-size: 0.9rem; 
    font-weight: 700;
  }
  
  .footerComoParticipar-vigencia {
    font-size: 0.7rem; 
    font-weight: 700;
  }
  
  .curved-title {
    font-size: 1.3rem;
  }
  
  .top-title {
    margin-top: -30px;
  }
  
  .ribbon-banner {
    max-width: 600px;
  }
  
  .banner-title {
    font-size: 1.7rem;
   }
  
  .banner-subtitle {
    font-size: 1rem;
  }

  .steps-title {
    font-size: 1rem;
  }

  #comoParticipar .ticketUrna{
    width: 75px;
    height: 60px;
  }

  #comoParticipar .phone{
    width: 50px;
    height: 65px;
  }

  .container-card-parent {
    width: 90%;
    min-height: 50px;
  }

  .container-card-child{
    min-height: 50px;
    padding: 3px 3px;
  }

  .container-card-child p {
    font-size: 0.71rem;
  }

  .btn-privacy {
    font-size: 0.4rem;
  }
  
  #comoParticipar p {
    margin-bottom: 3px;
  } 
}

/* FIN SECCION COMO PARTICIPAR*/

/* SECCION SORTEO CABALLOS */
#sorteoCaballos{
  background-image: url('../images/bgcaballos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imgHorse {
  width: 245px;
  height: 500px;
}

.text-block {
  position: relative;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}

.text-marron {
  background: none;
  color: #ffffff;
  text-shadow: 
    2px 4px 2px #41201F,
    2px 2px 2px #41201F, 
    2px 2px 2px #41201F, 
    2px 2px 2px #41201F;
}

.text-orange {
  background: none;
  color: #ffffff;
  text-shadow: 
    2px  4px 2px #CF202E, 
    2px  2px 2px #CF202E,
    2px  2px 2px #CF202E,
    2px  2px 2px #CF202E;
}

.text-sorteos{
  font-size: 2.7rem;
}

.text-sorteos-sub{
  font-size: 2rem;
}

.textFechas-01 {
  font-size: 1.7rem;
}

.textFechas-02 {
  font-size: 1.4rem;
}

.textProductos {
  font-size: 1.5rem;
}

.textPremios {
  font-size: 1.3rem;
}

.imgbultos {
  width: 28%;
}

.padding {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.imgCerdo {
  width: 72%;
}

.imgbultosAves {
 width: 79%;
}

.imgAves {
  width: 55%;
}

 
.carousel-inner{
  max-height: 630px;
  /*max-width: 875px; */ 
}
  

.carousel-inner img {
  width: 600px;
 /* max-height: 345px; */
}

.carousel-control-prev {
  left: -150px;
}

.carousel-control-next {
  left: 860px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 12rem;
  height: 12rem;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 100% 100%;
}

@media screen and (max-width: 767px) {

  .imgHorse {
    width: 100px;
    height: 220px;
  }
/*
  .carousel-inner{
    max-height: 345px;
    max-width: 875px;
  }
  

  .carousel-inner img {
    width: 100%;
    max-height: 345px;
  }
    */
  
  .carousel-control-prev {
    left: -150px;
  }
  
  .carousel-control-next {
    left: 860px;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 12rem;
    height: 12rem;
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 100% 100%;
  }
      
}
/* FIN SECCIÓN CABALLOS */

/* SECCION DE AVES */
#sorteoCerdosAves {
  background-image: url('../images/bgaves.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* FIN DE SECCION DE AVES*/

/* SECCION GANADORES*/

#ganadores { 
  background-image: url('../images/bgbase.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }

.title {
  color: #72A13F;
  font-weight: 800;
  font-size: 3rem;
}

.title-modal-marron {
  color: #41201F;
  font-weight: 700;
  font-size: 2.5rem;
}

.title-modal-orange {
  color: #F04B5D;
  font-weight: 700;
  font-size: 2.5rem;
}


.proximamente {
 font-size: 3.5rem; 
}

.subtitle {
  color: #72A13F;
  font-weight: 800;
  font-size: 2.2rem;
}

.btn-marron {
    background-color: #41201F;
    color: #fff;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    border: 0px;
}

.btn-orange {
  background-color: #F04B5D;
  color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  font-weight: 600;
  display: inline-block;
  width: 100%;
  border: 0px;
}


.date-block {
  position: relative;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  font-size: 1.5rem;
}

.date-block .date {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.25rem;
}

.imgproximamente {
  width: 70%;
  height: 100%;
}

.verde-bg {
  background-color: #72A13F;
  color: #ffffff;
}

.tabla-ganadores {
  width: 99%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0.4rem 0.5rem;
}

.tabla-ganadores thead th {
  border: 2px solid #fff;
  background-color: #779A3E;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 0 0 6px rgb(0, 0, 0.1);
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

.tabla-ganadores tbody td {
  background-color: #FFC425;
  color: #000000;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 0 0 6px rgb(0, 0, 0.1);
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

.btn-privacy {
  background-color: #72A13F;
  color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  font-weight: 600;
  display: inline-block;
}

@media screen and (max-width: 1296px) {
  .imgproximamente{
    width: 90%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {

  .title {
    font-size: 1.9rem;
  }
    
  .subtitle {
    font-size: 1.4rem;
  }
  
  .date-block {
    font-size: 1rem;
  }
  
  .date-block .date {
    font-size: 0.9rem;
  }
  
  .title-modal-marron{
    font-size: 1rem;
  }

  .title-modal-orange {
    font-size: 1rem;
  }
  
  .tabla-ganadores {
    width: 99%;
    border-spacing: 0.2rem 0.2rem;
  }

  .tabla-ganadores thead th {
    font-size: 0.6rem;
  }

  .tabla-ganadores tbody td {
    font-size: 0.6rem ;
  }

}

/* FIN DE SECCION GANADORES*/

/* SECCION BASES DEL SORTEO*/

.modal-content {
  background-color: #F1F2F2;
}

.basetitulo {
  text-align: center;
  color: #779A3E;
  font-size: 1.9rem;
}

.textSubTitulo{
  text-align: center;
  font-size: 0.85rem;
}

.textBasesDesc
{
  text-align: justify; 
  margin: 5px; 
  font-size: 0.85rem;
}

.bottom-Bases {
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #72A13F;
  padding: 13px;
}

.bottom-Bases-Modal {
  width: 100%;
  height: 50px;
  background-image: url('../images/bottom.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #72A13F;
}

.imgAgromasbottom {
  width: 18%;
}
/* FIN  SECCION BASES DEL SORTEO*/

/*footer*/
#bglinea { 
  background-image: url('../images/bglinea.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 190px;
  background-color: #F1F2F2;
  }


